# build output
dist/
# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*



# Ignore all environment files.
/.env*


# environment variables
!/.env.example
!/.env.template
!/.env.local.template
!/.env.test.local

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/

# cloned reference repos
reference-templates/
